*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #e0e7f1;
    --secondary: #125dc8;
    --light: #f4f5f5;
    --danger: #d81616;
    --shadow: rgba(8, 47, 102, 0.12);
    --base: 1rem;
    --large: calc(var(--base) * 5);
    --med: calc(var(--base) * 3);
    --sm: calc(var(--base) * 1.5);
}
    
:root.dark {
    --primary: #12223b;
    --secondary: #627da6;
    --light: #003074;
    --danger: #9f0b0b;
    --shadow: rgba(152, 174, 205, 0.05);
}

body {
    font-family: 'Odibee Sans', cursive;
    background-color: var(--primary);
    padding: var(--med);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--secondary);
}

.theme-container {
    padding: var(--sm);
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 300px;
    border: 1px solid red;
}

.theme {
    width: 50px;
    height: 25px;
    background-color: var(--secondary);
    border-radius: var(--base);
    position: relative;
    cursor: pointer;
}

.theme::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    position: absolute;
    top: 2px;
    z-index: 3;
    left: 3px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.dark .theme::before {
    transform: translateX(25px);
}


h1 {
    font-size: var(--med);
    text-align: center;
    margin-bottom: 2rem;
}

.habit-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem; 
    padding: 1rem;
    max-width: 300px; 
    border: 1px solid var(--secondary);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.habit {
    display: grid;
    place-items: center;
}

.habit-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--primary);
    border: 6px solid var(--secondary);
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.habit-btn:hover {
    opacity: 0.8;
}

.habit-btn.completed { 
    background-color: var(--secondary);
    color: var(--primary);
}

.habit-btn svg {
    pointer-events: none;
    width: var(--med);
    height: var(--med);
}

.new-habit_add {
    width: var(--med);
    height: var(--med);
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-size: 24px;
    font-weight: bold;
}

.new-habit {
    grid-column: span 2; 
    margin-top: 2rem; 
    display: flex;
    justify-content: center;
};
